.title {text-align: center; font-size: 150px ;font-weight: 800; font-family: Arial, Helvetica, sans-serif;}
p.author {color: #c76767;}

body {background-color: #f8f8f8; color: #001807; font-family: 'Courier New', Courier, monospace; padding: 15%; text-align:justify; margin: 5%;
     }

link.target {color: #cbe2c0;}

link {color: #cbe2c0;}

text-table-of-contents {color:aqua}
.subtitle {text-align: center; font-size: 80px ;font-weight: 500; font-family: Arial, Helvetica, sans-serif;}