p.author {color: #c76767;}

body {background-color: #f8f8f8; color: #001807; font-family: 'Courier New', Courier, monospace; padding: 15%;
     }

link.target {color: #cbe2c0;}

link {color: #cbe2c0;}

text-table-of-contents {color:aqua}